body .container{
    background-color: rgb(18, 107, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
    background: url("download.jpeg");
    background-size: cover;
    border:2px solid black;
    height:350px;
    /* width:300px; */
    /* margin-left:20px; */
    
}
.container{
    justify-content: center;
}
h1 {
    color: gold;
}

#message-el {
    /* color: white; */
    font-style: italic;
}
button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    border: none;
    border-radius: 10%;
    margin-bottom: 5px;
    margin-top: 2px;

}
